body {
  color: #666;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .rental-point--schedule{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    &> div {
      padding: 0 10px;
      &> span {
        font-weight: 600;
      }
    }
  }
  .vendor {
    
    &--header {
      font-size: 1.5em;
      margin-top: 15px;
      margin-bottom: 10px;
    }
    &--vehicles {
      display: flex;
      flex-flow: row wrap;
      margin-top: 15px;
    }
    &--sortby {
      margin-top: 15px;
      select {
        -webkit-appearance: none;
        padding: 10px;
        font-size: 14px;
      }
      button {
        padding: 10px;
        font-size: 14px;
      }
    }
  }
  
  .vehicle {
    &--view {
      margin-top: 15px;
      display: flex;
      align-items: start;
      img {
        margin-right: 15px;
      }
      &-details {
        display: flex;
        flex-direction: column;
        > div {
          display: flex;
          width: 350px;
          > div {
            width: 50%;
	          padding: 5px;
          }          
        }
      }
    }
    &--card {
      &:hover {
        box-shadow: 0 0 5px;
        border-radius: 2%;
      }
      min-width: 230px;
      max-width: 260px;
      flex: 1;
      padding: 10px;
      img {
        padding-right: 10px;
      }
      &> ul {
        li > span {
          color: #999;
        }
      }
      button {
        padding: 10px;
        font-size: 14px;
        width: 100%;
      }
    }
  }

  .nav-bar {
    margin-top: 15px;
    display: flex;
    li {
      margin-right: 10px;
      button {
        padding: 10px;
        font-size: 14px;
      }
    }
  }
}
